{% extends "dashboard/base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-10">
        <h1 class="text-secondary">{{user.first_name}}さんの部屋の様子</h1>
    </div>
    <div class="col-md-2 mt-2">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-secondary active">
                <input type="radio" name="options" id="hour" value="hour" onchange="drawChart(this.value)" autocomplete="off" checked>24時間
            </label>
            <label class="btn btn-outline-secondary">
                <input type="radio" name="options" id="day" value="day" onchange="drawChart(this.value)" autocomplete="off">7日
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mt-3">
        <h2 class="text-secondary">温度</h2>
        <canvas id="temp"></canvas>
    </div>
    <div class="col-md-6 mt-3">
        <h2 class="text-secondary">湿度</h2>
        <canvas id="humid"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mt-3">
        <h2 class="text-secondary">照度</h2>
        <canvas id="light"></canvas>
    </div>
    <div class="col-md-6 mt-3">
        <h2 class="text-secondary">騒音</h2>
        <canvas id="sound"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mt-3">
        <h2 class="text-secondary">電池</h2>
        <canvas id="butt"></canvas>
    </div>
</div>

<script>
var labels = {{ labels_list | safe }};
var temp = {{ temp_list }};
var humid = {{ humid_list }};
var light = {{ light_list }};
var sound = {{ sound_list }};
var butt = {{ butt_list }};

var labels_week = {{ labels_week_list | safe }};
var temp_week = {{ temp_week_list }};
var humid_week = {{ humid_week_list }};
var light_week = {{ light_week_list }};
var sound_week = {{ sound_week_list }};
var butt_week = {{ butt_week_list }};

drawTempChart();
drawHumidChart();
drawLightChart();
drawSoundChart();
drawButtChart();

function drawChart(value){
    if (value == "hour"){
        temp_chart.destroy();
        humid_chart.destroy();
        light_chart.destroy();
        sound_chart.destroy();
        butt_chart.destroy();

        setData();

        drawTempChart();
        drawHumidChart();
        drawLightChart();
        drawSoundChart();
        drawButtChart();
    } else if (value == "day"){
        temp_chart.destroy();
        humid_chart.destroy();
        light_chart.destroy();
        sound_chart.destroy();
        butt_chart.destroy();
        setData();
        drawTempWeekChart();
        drawHumidWeekChart();
        drawLightWeekChart();
        drawSoundWeekChart();
        drawButtWeekChart();
    }
}

function setData() {
    var labels = [];
    var temp = [];
    var humid = [];
    var light = [];
    var sound = [];
    var butt = [];
    var labels_week = [];
    var temp_week = [];
    var humid_week = [];
    var light_week = [];
    var sound_week = [];
    var butt_week = [];
    var labels = {{ labels_list | safe }};
    var temp = {{ temp_list }};
    var humid = {{ humid_list }};
    var light = {{ light_list }};
    var sound = {{ sound_list }};
    var butt = {{ butt_list }};
    var labels_week = {{ labels_week_list | safe }};
    var temp_week = {{ temp_week_list }};
    var humid_week = {{ humid_week_list }};
    var light_week = {{ light_week_list }};
    var sound_week = {{ sound_week_list }};
    var butt_week = {{ butt_week_list }};
}

// グラフ描画処理
function drawTempChart() {
    var ctx = document.getElementById("temp").getContext("2d");
    window.temp_chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels,
          datasets: [{
            label: "温度(度)",
            fill: false,
            borderColor: 'rgba(108, 117, 125, 0.5)',
            data: temp
          }],
        },
        options: {
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'hour'
              }
            }],
            yAxes: [{
                ticks: {
                callback: function(value, index, values){
                    return  value +  '度'
                }
                }
            }]
          }
        }
    });
}
function drawHumidChart() {
    var ctx = document.getElementById("humid").getContext("2d");
    window.humid_chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels,
          datasets: [{
            label: "湿度(%)",
            fill: false,
            borderColor: 'rgba(108, 117, 125, 0.5)',
            data: humid
          }],
        },
        options: {
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'hour'
              }
            }],
            yAxes: [{
                ticks: {
                callback: function(value, index, values){
                    return  value +  '%'
                }
                }
            }]
          }
        }
    });
}
function drawLightChart() {
    var ctx = document.getElementById("light").getContext("2d");
    window.light_chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels,
          datasets: [{
            label: "照度(lux)",
            fill: false,
            borderColor: 'rgba(108, 117, 125, 0.5)',
            data: light
          }],
        },
        options: {
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'hour'
              }
            }],
            yAxes: [{
                ticks: {
                callback: function(value, index, values){
                    return  value +  'lux'
                }
                }
            }]
          }
        }
    });
}
function drawSoundChart() {
    var ctx = document.getElementById("sound").getContext("2d");
    window.sound_chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels,
          datasets: [{
            label: "騒音(dB)",
            fill: false,
            borderColor: 'rgba(108, 117, 125, 0.5)',
            data: sound
          }],
        },
        options: {
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'hour'
              }
            }],
            yAxes: [{
                ticks: {
                callback: function(value, index, values){
                    return  value +  'dB'
                }
                }
            }]
          }
        }
    });
}
function drawButtChart() {
    var ctx = document.getElementById("butt").getContext("2d");
    window.butt_chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels,
          datasets: [{
            label: "電池(mA)",
            fill: false,
            borderColor: 'rgba(108, 117, 125, 0.5)',
            data: sound
          }],
        },
        options: {
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'hour'
              }
            }],
            yAxes: [{
                ticks: {
                callback: function(value, index, values){
                    return  value +  'mA'
                }
                }
            }]
          }
        }
    });
}

function drawTempWeekChart() {
    var ctx = document.getElementById("temp").getContext("2d");
    window.temp_chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels_week,
          datasets: [{
            label: "温度(度)",
            fill: false,
            borderColor: 'rgba(108, 117, 125, 0.5)',
            data: temp_week
          }],
        },
        options: {
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'day'
              }
            }],
            yAxes: [{
                ticks: {
                callback: function(value, index, values){
                    return  value +  '度'
                }
                }
            }]
          }
        }
    });
}
function drawHumidWeekChart() {
    var ctx = document.getElementById("humid").getContext("2d");
    window.humid_chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels_week,
          datasets: [{
            label: "湿度(%)",
            fill: false,
            borderColor: 'rgba(108, 117, 125, 0.5)',
            data: humid_week
          }],
        },
        options: {
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'day'
              }
            }],
            yAxes: [{
                ticks: {
                callback: function(value, index, values){
                    return  value +  '%'
                }
                }
            }]
          }
        }
    });
}
function drawLightWeekChart() {
    var ctx = document.getElementById("light").getContext("2d");
    window.light_chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels_week,
          datasets: [{
            label: "照度(lux)",
            fill: false,
            borderColor: 'rgba(108, 117, 125, 0.5)',
            data: light_week
          }],
        },
        options: {
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'day'
              }
            }],
            yAxes: [{
                ticks: {
                callback: function(value, index, values){
                    return  value +  'lux'
                }
                }
            }]
          }
        }
    });
}
function drawSoundWeekChart() {
    var ctx = document.getElementById("sound").getContext("2d");
    window.sound_chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels_week,
          datasets: [{
            label: "騒音(dB)",
            fill: false,
            borderColor: 'rgba(108, 117, 125, 0.5)',
            data: sound_week
          }],
        },
        options: {
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'day'
              }
            }],
            yAxes: [{
                ticks: {
                callback: function(value, index, values){
                    return  value +  'dB'
                }
                }
            }]
          }
        }
    });
}
function drawButtWeekChart() {
    var ctx = document.getElementById("butt").getContext("2d");
    window.butt_chart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels_week,
          datasets: [{
            label: "電池(mA)",
            fill: false,
            borderColor: 'rgba(108, 117, 125, 0.5)',
            data: butt_week
          }],
        },
        options: {
          legend: {
            display: false,
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                unit: 'day'
              }
            }],
            yAxes: [{
                ticks: {
                callback: function(value, index, values){
                    return  value +  'mA'
                }
                }
            }]
          }
        }
    });
}
</script>
{% else %}
さあ、始めましょう。
{% endif %}
{% endblock %}
